.post_item {
    border: 3px solid rgb(12, 172, 231);
    background-color: rgb(224, 224, 68);
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    width: 350px;
    min-height: 80px;

    position: relative;
}

.cross_icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.like_btn {
    border: 1px solid black;
    background-color: azure;
    padding: 5px;
    width: 50px;
    cursor: pointer;
    text-align: center;

   
}

.like_btn_active {
    background-color: red;
    color: white;
}  
